*{
  margin: 0;padding: 0;box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
  

}
li{
  list-style: none;
  list-style-type: none;
}

.app{
  
  /* width: 80%; */
  margin: auto;
  margin-top: 80px;
}