@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.container{
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    
    /* justify-content: center; */
   justify-content: space-around;
}
.header{
    margin-top: 150px;
  
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.text h2{
    font-family: "Outfit", sans-serif;
    letter-spacing: .2rem;
    font-size: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.833);
}
.text span{
color: #0284FE;
}
.text{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;align-items: center;
    margin-left: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.text p{
    color: rgba(0, 0, 0, 0.682);
}
.listv li{
    list-style-type: disc!important ;
    list-style: disc !important;
}
.listvv li{
    list-style: decimal !important;
}
.challege1 li{
    font-size: 18px;
}
.challege1{
    padding: 40px;
}
.loic{
    display: flex;gap: 20px;padding: 30px;
    background-color: #151515;
    border-radius: 20px;
    flex-wrap: wrap;
}
.loic img{
    height: 100px;
    width: 300px;
}
.loginmess{
    background-color: #fff;
    
    height: 80px;
    width: 200px;
    display: flex;justify-content: center;align-items: center;
    border-radius: 12px;
}