.dashcard{
   
    width: 340px;
    /* background-color: #b1b2b3; */
    background:#4FD1C5;
    background-size: cover;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    
    gap: 10px;

}
.dashcard li{
    margin-top: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    border-radius: 25px;
}
.dashcard li:last-child{
    background-color: #70d3ce;
    color: rgb(255, 255, 255);
}
.dashboardusr{
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.headname{
    background-color: #219C90;
    border-radius: 15px 15px 0 0 ;
    height: 100px;
    color: white;
    display: flex;justify-content: center;align-items: center;
    text-align: center;
}
.tooltip{

    background-color: rgba(9, 141, 117, 0);
    height: 60px;
    border-radius: 10px;
    display: flex;justify-content: center;align-items: center;
    color: rgb(0, 0, 0);
    width: 100%;
    border: 1px solid rgb(9, 141, 117);
}